.Header {
  height: 10%;

  width: 80vw;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .Logo {
    display: flex;
    flex-direction: row;

    .Img {
      height: 10vh;
      width: 10vh;
    }
    .Name {
      display: flex;
      flex-direction: column;
    }
  }
  .LoginRegister {
    display: flex;
    align-items: center;
  }
}
