.Choose {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  width: 80%;
  margin: 20vh auto;

  .Left,
  .Right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .WhyUs {
    font-weight: 1500;
  }
  .Title {
    font-size: 2.5rem;
    font-weight: 2000;
  }
  .SubTitle {
    color: gray;
    font-weight: 100;
  }
}
