.Choose {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 80%;
  margin: 20vh auto;

  .Left,
  .Right {
    width: 40%;
  }
  .WhyUs {
    font-weight: 1500;
  }
  .Title {
    font-size: 2.5rem;
    font-weight: 2000;
  }
  .SubTitle {
    color: gray;
    font-weight: 100;
  }
}
