.Reviews {
  width: 100%;
  background-color: #f8f8f8;

  text-align: center;

  .Content {
    width: 80vw;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .preTitle {
      font-weight: 600;

      margin-top: 10vh;
    }

    .Title {
      font-weight: 1600;
    }
    .subTitle {
      font-weight: 300;
      width: 50%;
    }
    .Testimonials {
      margin: 10vh 0;

      width: 100%;
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-row-gap: 2vh;
      grid-column-gap: 2vw;

      grid-auto-rows: 1fr;

      justify-content: space-around;
    }
  }
}
