.Banner {
  background-color: #2d2d2d;
  padding: 5vh 0;

  margin: 5vh 0;

  color: #fff;
  text-align: center;
  .subTitle {
    font-weight: 400;
    .HighLighted {
      color: #ff4d30;
    }
  }
}
