.Fotter {
  width: 80%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, clamp(19vw, 1fr, 100%));
  grid-column-gap: 1vw;
  grid-row-gap: 0;
  .SubTitle {
    margin: 2vh 0;
    width: clamp(25%, 25%, 100%);
  }
  .HighLighted {
    display: flex;
    align-items: center;

    cursor: pointer;

    color: #000;

    margin: 1vh 0;
  }
  .HighLighted:hover {
    color: #ff4d30;
  }

  .Input {
    border: 0;
  }
}
