.Contact {
  width: 80%;
  margin: 0 auto;
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    justify-items: center;

    .column {
      margin: 10vh 0;

      .header {
        font-size: clamp(0.85rem, 2vw, 3rem);
        font-weight: 700;
      }
      .subHeader {
        margin: 2vh 0;

        color: #706f7b;

        font-size: clamp(0.3rem, 2vw, 1rem);
        font-weight: 500;
      }
      .highLighted {
        display: flex;
        align-items: center;

        cursor: pointer;

        color: #000;

        margin: 2vh 0;
      }
      .highLighted:hover {
        color: #ff4d30;
      }

      .field {
        margin: 2vh 0;
      }
    }
  }
}
