.login {
  width: 80%;
  height: 80vh;
  margin: 0 auto;

  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  .form {
    display: flex;
    flex-direction: column;

    align-items: center;
    .email,
    .password {
      margin: 1vh 0;
    }

    .Link {
      margin-bottom: 1vh;
      color: #000;
      text-decoration: none;
    }
  }
}
