.login {
  width: 80%;
  height: 80vh;
  margin: 0 auto;

  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  .form {
    display: flex;
    flex-direction: column;

    align-items: center;
    .field {
      margin: 1vh 0;
    }
  }
}
