.BackGround {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.Greeting {
  width: 80%;
  margin: 0 auto;

  height: 90vh;

  position: relative;

  .PCImage {
    width: 50%;

    position: absolute;
    right: 0;

    top: 0;
  }
  .Content {
    z-index: 3;

    position: absolute;
    top: 40%;
    transform: translateY(-50%);

    .preTitle {
      font-size: clamp(1.2rem, 1vw, 2rem);
    }
    .title {
      margin: 1vh 0;

      font-size: clamp(1.5rem, 2vw, 3rem);
      font-weight: 700;
      .HighLighted {
        color: #ff4d30;
      }
    }
    .subtitle {
      margin: 1vh 0;
      font-size: clamp(0.75rem, 0.5vw, 1rem);
    }
    .BookButton {
      margin: 0 0.5vw;
    }
    .MoreButton {
      margin: 0 0.5vw;
    }
  }
}
