.Text {
  font-weight: 500;
  font-size: clamp(0.6rem, 1vw, 2rem);
}
.Author {
  margin-top: 5vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .Img {
    width: 5vw;
    border-radius: 50%;
  }
}
