.FAQ {
  text-align: center;
  width: 50%;
  margin: 10vh auto;
  padding: 10vh 10vw;
  .SubTitle {
    margin: 2vh 0;
  }
  .Summary {
    font-weight: 500;
  }
  .Details {
    font-weight: 400;
    padding: 5vh 5vw;
  }
}
